<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Document</title>
</head>
<body>
    <h1>Yop alejo roule</h1>

    <div id="app"></div>


    <script src="{% static 'test/main.js' %}"></script>
</body>
</html>